*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,.7), rgba(4,9,30,.7)), url("/photos/Max4.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sub-header{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,.5), rgba(4,9,30,.5)), url(
    "/photos/Max7.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 250px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #76b5c5;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    line-height: 60px;
    font-weight: 500;
}

.text-box p{
    margin: 15px 0 40px;
    font-size: 20px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}

.hero-btn:hover{
    border: 1px solid #76b5c5;
    background: #76b5c5;
    color: #063970;
}

.abt_max_btn{
    margin-bottom: 25px;
}

.social{
    width: 90%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: end;
}

.sub-social{
    width: 90%;
    display: flex;
    position: absolute;
    top: 70%;
    justify-content: end;
}

.social .fa{
    color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    transition: 1s;
    cursor: pointer;
    display: block;
}

.sub-social .fa{
    color: #ffffff;
    padding: 0 20px;
    font-size: 30px;
    transition: 1s;
    cursor: pointer;
    display: block;
}

.social .fa:hover{
    color: #76b5c5;
}

.sub-social .fa:hover{
    color: #76b5c5;
}

#hamburger-menu{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
}

.bar {
    background: #edf2f8;
    width: 100%;
    height: 3px;
    border-radius: .8rem;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    z-index: 2;
}

/*---- comedy ----*/
.comedy{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-home{
    width: 300px;
    height: 500px;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
    margin-bottom: 40px;
}

.card-home:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all .5s ease;
}

.card-image{
    height: 200px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}

.card-home h2{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.bday{
    background-image: url('../photos/birthday.jpg');
    background-size: cover;
}

.reserved{
    background-image: url('../photos/reserved.jpg');
    background-size: cover;
}

.fundraiser{
    background-image: url('../photos/fundraiser.jpg');
    background-size: cover;
}

.corporate{
    background-image: url('../photos/corporate.jpg');
    background-size: cover;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*---- About ----*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
}

.about h1{
    font-size: 45px;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 65px;
}

.profile-main{
    text-align: left;
    padding-left: 2em;
}

.profile-sidebar img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile-name{
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 1px;
    font-weight: 500;
}

.profile-name::after{
    content: '';
    display: block;
    height: 1.5px;
    width: 90px;
    background: white;
    opacity: .6;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.profile-position{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2em;
}

.profile-body{
    font-weight: 300;
}

.card{
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    display: flex;
    background: #76b5c5;
    color: white;
    padding: 2.5em;
    border-radius: 15px;
}

/*---- Shows ----*/

.shows-col{
    width: 80%;
    margin: auto;
}

.shows h1{
    font-size: 45px;
    font-weight: 500;
    padding-top: 80px;
}

.shows{
    width: 80%;
    margin: auto;
    text-align: center;
}

/*--- Videos ---*/

.videos{
    width: 90%;
    margin: auto;
    text-align: center;
}

.videos h1{
    font-size: 45px;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 65px;
}

.videos-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.videos-grid{
    justify-content: center;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.videos-grid iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--- Contact ---*/

/* .container_contact_form{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.contact{
    width: 71.875rem;
    margin: 0 auto;
}

.contact_card_wrapper{
    display: flex;
    background: #76b5c5;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    border-radius: 15px;
}

.left_bkgd{
    height: 550px;
    display: block;
    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    border-radius: 15px 0 0 15px;
}

.profile_img{
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
}

.right_side p{
    color: #fff;
    margin-top: 1.3rem;
    font-size: 1.3rem;
}

.contact_icon{
    margin-right: 2rem;
}

.cta{
    display: flex;
    border-bottom: 1px solid #76b5c5;
    margin-bottom: 4rem;
}

.pic img{
    width: 150px;
    border-radius: 50%;
}

.cta_text{
    margin-left: 1.5rem;
}

i.icon{
    font-size: 28px;
    color: #76b5c5;
    margin-bottom: 0.4rem;
}

.contact_info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact_info .title{
    color: #76b5c5;
}

.contact_info::before{
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    border: 20px solid #76b5c5;
    border-radius: 50%;
    bottom: -80px;
    right: 10px;
    opacity: 0.3;
}

.text{
    margin: 1.5rem 0 2rem 0;
    color: #76b5c5;
}

.information{
    display: flex;
    flex-direction: column;
    color: #76b5c5;
    margin: 0.7rem 0 1.5rem 0;
    align-items: left;
    font-size: .95rem;
}

.form{
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
    z-index: 999;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

h3.title{
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.contact_form{
    background-color: #76b5c5;
    position: relative;
}

.contact_form::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #76b5c5;
    transform: rotate(45deg);
    top: 50%;
    left: -13px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -49px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact h1{
    font-size: 45px;
    font-weight: 500;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 65px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input_container{
    position: relative;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1.5rem;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem .7rem;
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input{
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}

.input_container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input_container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.input_container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input_container span.anime::before,
.input_container span.anime::after{
    content: '';
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #76b5c5;
    top: 50%;
    transform: translateY(-50%);
}

.input_container span::before{
    left: 50%;
}

.input_container span::after{
    right: 50%;
}

.input_container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input_container.focus span::before,
.input_container.focus span::after{
    width: 50%;
    opacity: 1;
}

input.invalid{
    border: 1px solid #b52639;
}

.asterik{
    color: red;
    font-size: 22px;
}

.btn{
    padding: .6rem 1.3rem;
    background-color: white;
    border: 2px solid #fafafa;
    border-radius: 10px;
    font-size: 0.95rem;
    color: #76b5c5;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 2rem;
}

.btn:hover{
    background-color: transparent;
    color: white;
}

::placeholder{
    color: white;
}

.contact_img{
    width: 100%;
    border-radius: 50%;
}

/*--- Footer ---*/
.footer{
    background: #76b5c5;
    margin-top: 70px;
    width: 100%;
}

.footer p{
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

/*--- Media Queries ---*/
@media only screen and (max-width: 1150px){
    .form{
        grid-template-columns: 1fr;
    }

    .contact_info::before{
        bottom: initial;
        top: 265px;
        right: -65px;
    }

    .contact_form::before{
        top: -13px;
        left: initial;
        right: 50%;
    }

    /* Contact */
    .contact{
        width: 500px;
    }

    .contact_card_wrapper{
        flex-direction: column;
    }

    .left_bkgd{
        width: 500px;
        height: 500px;
        border-radius: 15px 15px 0 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    }

    .profile_img{
        width: 12.5rem;
        height: 12.5rem;
        margin-top: -120px;
        margin-bottom: 75px;
    }

    .contact_icon{
        margin-right: .9rem;
    }

    .right_side p{
        font-size: 1.2rem;
        text-align: center;
    }

    .right_side p:last-of-type{
        margin-bottom: 125px;
    }
}

@media only screen and (max-width: 769px) {
    .text-box h1{
        font-size: 35px;
        line-height: 45px;
    }

    .text-box p{
        font-size: 16px;
    }

    .social{
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
    
    .sub-social{
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .row{
        flex-direction: column;
    }

    .about h1{
        font-size: 30px;
        font-weight: 500;
        padding-top: 30px;
    }

    .card{
        flex-direction: column;
    }

    .profile-main{
        text-align: center;
    }

    .profile-name::after{
        margin: 0.6em auto;
    }
    
    .videos h1{
        font-size: 30px;
        font-weight: 500;
        padding-top: 30px;
    }

    .grid-col-span-2{
        grid-column: span 2;
        gap: 20px;
    }

    .shows h1{
        font-size: 30px;
        font-weight: 500;
        padding-top: 30px;
    }

    .contact h1{
        font-size: 30px;
        font-weight: 500;
        padding-top: 30px;
    }

    #hamburger-menu{
        opacity: 1;
    }

    #hamburger-menu.active .bar:nth-child(1){
        transform: translateY(11px) rotate(405deg);
    }
    
    #hamburger-menu.active .bar:nth-child(2){
        opacity: 0;
    }
    
    #hamburger-menu.active .bar:nth-child(3){
        transform: translateY(-11px) rotate(-405deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #76b5c5;
        width: 100%;
        text-align: center;
        transition: .3s ease;
        z-index: 1;
    }

    .nav-item{
        margin-top: 15px;
    }

    .nav-menu.active{
        right: 0;
    }

    .sub-social{
        width: 90%;
        display: flex;
        position: absolute;
        top: 70%;
        justify-content: end;
    }

    .footer .footer-text{
        font-size: 18px;
    }

    /* Contact page */
    .contact{
        width: 21.875rem;
    }

    .contact_card_wrapper{
        flex-direction: column;
    }

    .left_bkgd{
        width: 350px;
        height: 350px;
        border-radius: 15px 15px 0 0;
    }

    .profile_img{
        width: 9.375rem;
        height: 9.375rem;
        margin-top: -60px;
    }

    .right_side p{
        font-size: .9rem;
    }

    .contact_icon{
        margin-right: .8rem;
    }
}

@media only screen and (max-width: 480px){
    .container_contact_form{
        padding: 1.5rem;
    }

    form, .contact_info{
        padding: 1.7rem 1.6rem;
    }
}